
html, 
body {
    background-color: black;
    height: 100vh;
    margin:0 auto;
    width:95%;
    font-family: serif;
    
    }
.mainheader{
    background-image: url("hero-bg.jpg");
  }
  .container1{
      margin-right:50px;
      margin-left:50px;
      
  }

.flex-container1 {
   display: flex;
  align-items: center;
  justify-content:space-between; 
  height:80px;
    }

    .flex-container > div {

       
        padding: 30px;
        font-size: 30px;
      }
    
input[type='text'] {
    background-image: url());
    background-position: 7px 7px;
    background-repeat: no-repeat;
}
.search{
    color:white;
    padding-right:25px;
   
  
}

.icon-bar{
    float:left;
}
.icon-bar a {
    display: inline-block;
    width:10px;
    padding-top:10px;
    padding-left:15px;
    text-align: center;
    background-color:none;
    transition: all 0.3s ease;
    color: white;
    margin:10px;
    
    font-size: 30px;
  }
  
  .icon-bar a:hover {
      background-color: #000;
  }
  
  .facebook {
    
    color: white;
  }
  
  .twitter {
    background: none;
    color: white;
  }
  
  .instagram {
    
    color: white;
  }
  
  .pinterest {
   
    color: white;
  }
  
  .youtube {
    
    color: white;
  }
  
  .content {
    margin-left: 75px;
    font-size: 30px;
  }
.head1{
   
width: 100%;
height:200px;
}

.logo{
    padding-top:15px;
    display: block;
    margin-left: auto;
    margin-right: auto

 }
 /*menu part*/
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.menucontainer{
display:flex;
text-decoration: none;
justify-content:center;
padding-right:15px;
height:75px;
}
li a {
    text-decoration: none;
    style:none;
    display: block;
    padding: 8px;
    font-weight: bold;
    background-color: none;
    color:white;
}
/*
a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}*/
    
.imagecontainer{
    display:grid;
grid-template-columns: 2fr 1fr;

    }

.imagecontainer1{
    background-color: blue;
}    


.imagecontainer2{
display:grid;
grid-template-columns:1fr;

}


.imagecontainer1 img{
background-size: 100% 100%;
 width:100%;
 display:block;
}   

.imagecontainer2 img{
    width:100%;
    display:block;
}
 .imagecontainer1 h1{
    background-color:rgb(60, 145, 160);
     width:80px;
     padding-top:10px;
     padding-bottom:10px;
    font-size:20px;
    
    border-style:1px rgb(102, 153, 168) solid;
    font-weight:bold;
    color: #fff;
    font-family:sans-serif;
    padding-bottom:0;
    padding-left:10px;
}
.imagecontainer1 .content{
    position: absolute;
    top:460px;
    left:100px;
    background: rgba(0, 0, 0, 0); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;

    
}
.content p{
    padding-top:0;
    font-size:3vw;
    font-weight: bold;
    margin:0PX;
    
}
    .imagecontainer1 .avatar
    {
        border-radius: 50%;
        width: 7vw;;
        height:7vw;
     }

.imagecontainer1 .avatar{
         font-size:20vw;
         display: inline-block;
         float: left;
     }
.avatar1 p{
    position: absolute;
    left:120px;
    padding-top:28px;
    font-size:15px;
    font-weight:bold;
}
.imagecontainer2 h1{
    background-color:rgb(60, 145, 160);
     width:115px;
    font-size:30px;
    
    border-style:1px rgb(102, 153, 168) solid;
    font-weight:bold;
    color: #fff;
    font-family:sans-serif;
    padding-bottom:0;
    padding-left:10px;
    

}
.imagecontainer2 img1{
    position: absolute;
    top:100px;
    left:150px;
    background: rgba(0, 0, 0, 0); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
}

.blogbody a{
    color:blue;
    style:none;
    text-decoration: none;
}
.blogbody{
    background-color:rgb(106, 133, 146);
    padding:0;
    padding-top:25px;
   }

.blogmain{
    margin:50px;
    margin-top:25px;
    display:grid;
    grid-gap:30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.blogbody h2{
    padding-left:20px;
    line-height:1em;
    font-weight:bold;
    text-align:center;
    font: size 21px;

}
.blogbody h3{
    padding-left:20px;
    font-size:22px;
     
}
.blogbody span{
    padding-left:20px;
    font-size:12px;
}
.blogbody p{
    padding-left:20px;
    font-size: 18px;
    line-height: 2em;
}


/*photoblog*/
.photoblog{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:20px;
    
    }
    .photoblog1{
        background-color:white;
    }
.photoblog1 img{
display:block;
width:100%;   
 
}

.photoblog1 .c1{
    padding-top:20px;
}/*end of photoblog1 blog*/

.photoblog2 img{
    display:block;
    width:100%;   
   
    }
    
    .photoblog2 {
        background-color:white;
    }
  
    .photoblog2 .c1{
        padding-top:20px;
    }
   .photoblog3 .image{
            display:block;
            width:100%;
              
        }
        
    .photoblog3{
        padding-top:25px;
        text-align:center;
        background-color:white;
        }
        
    
/*Cooking blog*/
.cookingblog{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:20px;
}

.cookingblog img{
    display:block;
    width:100%;   
}

.cookingblog1{
   background-color:white;
}
.cookingblog1 .quote img{
    display:block;
}

.cookingblog2 img{
    display:block;
     width:100%;
}
coffeeblog{
    display:grid;
    grid-template-columns: 1fr;
   grid-gap:20px;
}
.coffeeblog1{
    background-color:white;
}
.coffeeblog2{
    background-color:white;
}

.cofeeblog {
    padding-left:20px;
    display:grid;
    grid-template-columns:1fr;

}
.coffeeblog{
    background-color:white;
    display:grid;
   
  }
  .coffeeblog img{
      display:block;
      width:100%;
  }
  
/*
.cookingblog1 .quote{
    text-align: center;

}

.coffeeblog{
    display:grid;
    grid-template-columns:1fr;
}*/
/*
.coffeeblog{
    background-color:white;
    display:grid;
   
  
  }
  

.coffeeblog img{
  display:block;
  width:100%; 
  background-color:white;
}

.cookingblog2{
   
}
.cookingblog2 img{
    display:block;
    width:100%;
}
.cookingblog3 img{
    display:block;
    width:100%;
}
.cofeeblog1 h3{
    padding-left:20px;
     font-size:22px;
 }*/

