body{
background-color:black;
font-family:'Quando';

}
.blogcontainer{
    margin-top:30px;
    margin-right:30px;
    margin-left:30px;
    background-color:gray;
    padding-right:20px;
    padding-left:20px;
    padding-top:20px;
}
.gridcontainer{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:minmax(75px,auto) minmax(75px,auto);
    grid-gap:20px;
}
.gridcontainer .column{ 
   
}
.card1 img{
    display:block;
    width:100%;
}
.card1{
    background-color:white;
    line-height:2em;
}
.column .text{
    padding-left:20px;
}
.column .text h1{
    font-size:20px;
}
.column .text span{
    color:gray;
    font-size:12px;
}
.column .text p{
    color:gray;
       font-size:13px;
}
.column a{
    text-decoration: none;
color:blue;
}

.card2{
    background-color:white;
    line-height:2em;
}
.card2 .image{
    display:block;
    width:100%;   
}
.card2 .quote {
    padding-top:15px;
    
    display: block;
    margin: 0 auto;
    
}
.card2 p{
    font-size:25px;
    color:black;
    text-align:center;
}
.card1justimg img{
    display:block;
    width:100%;
    padding-bottom:20px;
}
.pagination .arrow{
   display:inline-block;
   border-radius: 50%;
   max-width: 12px;
   max-height: 12px;
   
   
}
.pagination{
 margin-bottom: 5em;
 margin-top: 5em;
  text-align:center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  
}


.postscontainer{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    background-color:white;
    margin-left:30px;
    margin-right:30px;
}
.column1{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; 
  background-color:white;
}
.column2{
   /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;*/ 
    background-color:white;
}
.column3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5; 
    background-color:white; 
    padding-left:15px;
    padding-bottom:20px;
    line-height:2em;
    color:gray;
    font-size:15px;
}
.thumbnail p{
    float: right;
   
}
.thumbnail img{
    width: 80px; 
}
.facebook {
    
    color:black;
  }
  
  .twitter {
    background: none;
    color: black;
  }
  
  .instagram {
    
    color: black;
  }
  
  .pinterest {
   
    color: black;
  }
  
  .youtube {
    
    color: black;
  }
  .posticon a {
      margin-right:5px;
    display: inline-block;
    width:10px;
    padding-top:10px;
    padding-left:15px;
    text-align: center;
    background-color:none;
    transition: all 0.3s ease;
    margin:10px;
    
  }
